################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmployeeManagment/.vs/EmployeeManagment/v15/Server/sqlite3/db.lock
